<template>
  <v-form ref="form" @submit.prevent="onRegister" v-model="valid" lazy-validation>
    <v-text-field
      v-model="username"
      :rules="usernameRules"
      label="Username"
      required
    ></v-text-field>
    <v-text-field
      v-model="password"
      :append-icon="showPassword ? 'visibility_off' : 'visibility'"
      :type="showPassword ? 'text' : 'password'"
      label="Password"
      hint="At least 8 characters"
      @click:append="showPassword = !showPassword"
      loading
    >
      <v-progress-linear
        slot="progress"
        :value="progress"
        :color="color"
        height="8"
      ></v-progress-linear>
    </v-text-field>

    <v-text-field
      v-model="phone"
      label="Phone Number"
      required
      mask="(+##) ### #### ####"
    ></v-text-field>

    <v-text-field
      v-model="first_name"
      label="First Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="last_name"
      label="Last Name"
      required
    ></v-text-field>

    <v-menu
      ref="menu"
      :close-on-content-click="false"
      v-model="menu"
      :nudge-right="40"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      min-width="290px"
    >
      <v-text-field
        slot="activator"
        v-model="date"
        label="Birthday"
        prepend-icon="event"
        readonly
      ></v-text-field>
      <v-date-picker
        ref="picker"
        v-model="date"
        :max="new Date().toISOString().substr(0, 10)"
        min="1950-01-01"
        @change="save"
      ></v-date-picker>
    </v-menu>
    <v-label color="red" v-show="!!registerInfo">{{registerInfo}}</v-label>
    <v-btn block :disabled="!valid" color="success" type="submit">
      Register
    </v-btn>
  </v-form>
</template>

<script>
export default {
  name: 'RegistrationForm',
  data: () => ({
    date: null,
    menu: false,
    valid: false,
    usernameRules: [
      v => !!v || 'Username is required'
    ],
    showPassword: false
  }),
  watch: {
    menu (val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    date (val) {
      this.birthday = val
    }
  },
  methods: {
    save (date) {
      this.$refs.menu.save(date)
    },
    async onRegister () {
      await this.$store.dispatch('Registration/doRegister')
    },
    async onUsernameChanged () {
      await this.$store.dispatch('Registration/checkUsername')
    }
  },
  computed: {
    progress () {
      return Math.min(100, this.password.length * 8.33)
    },
    color () {
      if (this.password.length < 8) return 'error'
      else if (this.password.length < 12) return 'warning'
      else return 'success'
    },
    registerInfo () {
      return this.$store.getters['Registration/registerInfo']
    },
    username: {
      get () {
        return this.$store.getters['Registration/username']
      },
      set (value) {
        this.$store.commit('Registration/setUsername', value)
      }
    },
    phone: {
      get () {
        return this.$store.getters['Registration/phone']
      },
      set (value) {
        this.$store.commit('Registration/setPhone', value)
      }
    },
    first_name: {
      get () {
        return this.$store.getters['Registration/firstName']
      },
      set (value) {
        this.$store.commit('Registration/setFirstName', value)
      }
    },
    last_name: {
      get () {
        return this.$store.getters['Registration/lastName']
      },
      set (value) {
        this.$store.commit('Registration/setLastName', value)
      }
    },
    password: {
      get () {
        return this.$store.getters['Registration/password']
      },
      set (value) {
        this.$store.commit('Registration/setPassword', value)
      }
    },
    birthday: {
      get () {
        return this.$store.getters['Registration/birthday']
      },
      set (value) {
        this.$store.commit('Registration/setBirthday', value)
      }
    }
  }
}
</script>
