<template>
  <v-form>
    <v-text-field
      v-model="token"
      label="Token"
      required
      mask="######"
    ></v-text-field>
  </v-form>
</template>

<script>
export default {
  name: 'VerifyPhoneForm',
  methods: {
    async onTokenComplete () {
      await this.$store.dispatch('Registration/doVerifyPhone')
    }
  },
  watch: {
    token (val) {
      if (val.length === 6) {
        this.onTokenComplete()
      }
    }
  },
  computed: {
    verifyPhoneInfo () {
      return this.$store.getters['Registration/verifyPhoneInfo']
    },
    token: {
      get () {
        return this.$store.getters['Registration/token']
      },
      set (value) {
        this.$store.commit('Registration/setToken', value)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
