<template>
  <router-link :to="{name:'notification'}">
    <span class="Icon Icon--home Icon--large"></span>
    <span class="text" aria-hidden="true">Notification</span>
  </router-link>
</template>

<script>
export default {
  name: 'NotificationButton'
}
</script>

<style scoped>

</style>
