<template>
  <router-link :to="{name:'profile'}">
    <img class="Avatar Avatar--size32"
         src="https://pbs.twimg.com/profile_images/932360240586035200/YjkXTyhW_normal.jpg"
         alt="Profile and settings">
    <span class="text" aria-hidden="true">Profile</span>
  </router-link>
</template>

<script>
export default {
  name: 'PersonalProfileButton'
}
</script>

<style scoped>

</style>
