<template>
  <v-card dark>
    <v-list subheader three-line v-for="activity in activities" :key="activity.id">
      <v-divider></v-divider>
      <v-list-tile :color="activity['is_activity_valid'] ? 'white' : 'red'">
        <v-list-tile-content>
          <v-list-tile-title>
            <strong>{{activity.activity.activity_name}}</strong>
          </v-list-tile-title>
          <v-list-tile-sub-title class='text--accent-1'>
            {{activity.activity.time_start | stringifyDateTime}} - {{activity.activity.time_until |
            stringifyDateTime}}
          </v-list-tile-sub-title>
          <v-list-tile-sub-title>
            {{activity.activity.description}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list v-show="personalActivitiesNoMore">
      <v-divider v-show="!!activities.length"></v-divider>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-sub-title>No more activity</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'ActivityList',
  mounted () {
    this.$store.commit('Activity/resetPersonalActivities')
    this.doReloadPersonalActivities()
  },
  methods: {
    async doReloadPersonalActivities () {
      await this.$store.dispatch('Activity/readPersonalActivities')
    }
  },
  computed: {
    activities () {
      return this.$store.getters['Activity/personalActivities']
    },
    personalActivitiesNoMore () {
      return this.$store.getters['Activity/personalActivitiesNoMore']
    }
  }
}
</script>
