<template>
  <v-card dark>
    <v-list sub header two-line v-for="agenda in personalAgendas" :key="agenda.id">
      <v-divider></v-divider>
      <v-list-tile :color="agenda.is_agenda_valid ? 'white' : 'red'">
        <v-layout row>
          <v-flex>
            <v-list-tile-title>
              <strong>{{agenda.agenda_name}}</strong>
            </v-list-tile-title>
            <v-list-tile-sub-title>
              {{agenda.time_start | stringifyDateTime}} - {{agenda.time_until |
              stringifyDateTime}}
            </v-list-tile-sub-title>
            {{agenda.description}}
          </v-flex>
          <v-spacer></v-spacer>
          <v-progress-circular
            indeterminate
            color="pink"
            v-show="agenda.is_in_progress"
          ></v-progress-circular>
          <v-btn @click="doGenerateAgenda(agenda.id)" flat icon v-show="!agenda.is_in_progress && !agenda.published">
            <v-icon>cached</v-icon>
          </v-btn>
          <v-icon color="green" v-show="!agenda.is_in_progress && agenda.published && agenda.is_valid">checked</v-icon>
          <v-icon color="red" large v-show="!agenda.is_in_progress && agenda.published && !agenda.is_valid">cancel
          </v-icon>
        </v-layout>
      </v-list-tile>
    </v-list>
    <v-list v-show="personalAgendasNoMore">
      <v-divider v-show="!!personalAgendas.length"></v-divider>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-sub-title>No more agenda</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'AgendaList',
  mounted () {
    this.$store.commit('Agenda/resetPersonalAgendas')
    this.doReloadPersonalAgendas()
  },
  methods: {
    async doReloadPersonalAgendas () {
      await this.$store.dispatch('Agenda/readPersonalAgendas')
    },
    async doGenerateAgenda (agendaID) {
      this.$store.commit('Agenda/setAgendaId', agendaID)
      await this.$store.dispatch('Agenda/generatePersonalAgenda')
    }
  },
  computed: {
    personalAgendas () {
      return this.$store.getters['Agenda/personalAgendas']
    },
    personalAgendasNoMore () {
      return this.$store.getters['Agenda/personalAgendasNoMore']
    }
  }
}
</script>
