<template>
  <v-toolbar dark dense :extended="$vuetify.breakpoint.smAndDown">
    <v-btn icon :slot="$vuetify.breakpoint.smAndDown?'extension':null" :to="{name:'feed'}">
      <v-icon>home</v-icon>
    </v-btn>
    <v-spacer v-if="$vuetify.breakpoint.smAndDown" slot="extension"></v-spacer>
    <v-btn icon :slot="$vuetify.breakpoint.smAndDown?'extension':null" :to="{name:'exploreMain'}">
      <v-icon>search</v-icon>
    </v-btn>
    <v-spacer v-if="$vuetify.breakpoint.smAndDown" slot="extension"></v-spacer>
    <v-btn icon :slot="$vuetify.breakpoint.smAndDown?'extension':null" :to="{name:'notification'}">
      <v-icon>notifications</v-icon>
    </v-btn>
    <v-spacer v-if="$vuetify.breakpoint.smAndDown" slot="extension"></v-spacer>
    <v-btn icon :slot="$vuetify.breakpoint.smAndDown?'extension':null" :to="{name:'messageList'}">
      <v-icon>chat</v-icon>
    </v-btn>
    <v-spacer v-if="$vuetify.breakpoint.smAndDown" slot="extension"></v-spacer>
    <v-btn icon :slot="$vuetify.breakpoint.smAndDown?'extension':null" :to="{name:'relationshipFriendRequests'}">
      <v-icon>group_add</v-icon>
    </v-btn>

    <v-spacer v-if="!$vuetify.breakpoint.smAndDown"></v-spacer>

    <SearchForm v-if="!$vuetify.breakpoint.smAndDown"></SearchForm>
    <v-toolbar-side-icon @click="revertDrawer"></v-toolbar-side-icon>
    <v-toolbar-title v-if="$vuetify.breakpoint.smAndDown">{{title}}</v-toolbar-title>
    <v-spacer v-if="$vuetify.breakpoint.smAndDown"></v-spacer>
    <v-btn icon @click="$router.go(-1)" v-if="$vuetify.breakpoint.smAndDown && !$route.path.startsWith('/feed')">
      <v-icon>chevron_left</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
import SearchForm from '@/components/application/forms/SearchForm'

export default {
  name: 'ApplicationHeader',
  components: {
    SearchForm
  },
  methods: {
    revertDrawer () {
      this.$store.commit('Application/revertDrawer')
    }
  },
  computed: {
    title () {
      return this.$store.getters['Application/title']
    }
  }
}
</script>
