<template>
  <v-navigation-drawer
    v-model="drawer"
    temporary
    absolute
    :right="!$vuetify.breakpoint.smAndDown"
    dark
  >
    <v-toolbar flat dark>
      <v-list class="pa-0">
        <v-list-tile>
          <v-list-tile-action v-show="!$vuetify.breakpoint.smAndDown">
            <v-btn @click="drawer=false" icon>
              <v-icon>chevron_right</v-icon>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-title class="title">
            Account Info
          </v-list-tile-title>

          <v-list-tile-action v-show="$vuetify.breakpoint.smAndDown">
            <v-btn @click="drawer=false" small icon>
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-img v-if="user.profile.cover" :src="user.profile.cover" height="150px">
      <v-layout
        column
        fill-height
      >
        <v-card-title>
          <v-list-tile-avatar size="75">
            <img v-if="user.profile.avatar" :src="user.profile.avatar" alt="User">
          </v-list-tile-avatar>
          <v-list-tile-title class="white--text font-weight-bold">{{ user.full_name }}</v-list-tile-title>
          <v-list-tile-title class="grey--text">@{{user.username}}</v-list-tile-title>
        </v-card-title>
      </v-layout>
    </v-img>
    <v-list class="pt-0">
      <v-list-tile :to="{name:'profilePersonalWall'}">
        <v-list-tile-action>
          <v-icon>person</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Profile</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile :to="{name:'profilePersonalSchedule'}">
        <v-list-tile-action>
          <v-icon>developer_board</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Schedule</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile :to="{name:'relationshipFriends'}">
        <v-list-tile-action>
          <v-icon>people</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Friends</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-group>
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>Groups</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          v-for="(group_member, index) in user.member_of_groups"
          :key="index"
          :to="{name:'profileGroupWall', params: { username: group_member.group.username }}"
        >
          <v-list-tile-content>
            <v-list-tile-title>{{group_member.group.group_name}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile :to="{name:'groupCreate'}">
          <v-list-tile-action>
            <v-icon>add</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Create New Group</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-group>

      <v-list-group>
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>Locations</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          v-for="(location_admin, index) in user.administrated_locations"
          :key="index"
          :to="{name:'profileLocationWall', params: { username: location_admin.location.username }}"
        >
          <v-list-tile-content>
            <v-list-tile-title>{{location_admin.location.location_name}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile :to="{name:'locationCreate'}">
          <v-list-tile-action>
            <v-icon>add</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Create New Location</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-group>

      <v-divider></v-divider>

      <v-list-tile :to="{name:$vuetify.breakpoint.smAndDown?'settingMenu':'settingAccount'}">
        <v-list-tile-content>
          <v-list-tile-title>Settings</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="onLogoutButtonClicked">
        <v-list-tile-content>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider></v-divider>

      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Dark Mode</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-switch v-model="drawer"></v-switch>
        </v-list-tile-action>
      </v-list-tile>

    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'NavigationDrawer',
  computed: {
    user () {
      return this.$store.getters['Authentication/user']
    },
    drawer: {
      get () {
        return this.$store.getters['Application/drawer']
      },
      set (value) {
        this.$store.commit('Application/setDrawer', value)
      }
    }
  },
  methods: {
    async onLogoutButtonClicked () {
      await this.$store.dispatch('Authentication/doLogout')
    }
  }
}
</script>

<style scoped>

</style>
