<template>
  <button @click="onLogoutButtonClicked">
    Logout
  </button>
</template>

<script>
export default {
  name: 'LogoutButton',
  methods: {
    async onLogoutButtonClicked () {
      await this.$store.dispatch('Authentication/doLogout')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
