<template>
  <v-btn
    block
    @click="onResendButtonClicked"
  >
    Resend Token
    <v-icon right dark>cached</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'ResendTokenButton',
  methods: {
    async onResendButtonClicked () {
      await this.$store.dispatch('Registration/doResendToken')
    }
  }
}
</script>
