<template>
  <v-card>
    <v-form @submit="doSearch">
      <v-text-field
        solo
        v-model="searchKey"
        label="Explore GiTa..."
        append-icon="search"
        hide-details
        autofocus
      ></v-text-field>
    </v-form>
    <v-container
      v-show="explore.length"
      fluid
      grid-list-lg
    >
      <v-layout row wrap v-for="(obj, index) in explore" :key="index">
        <v-flex xs12>
          <User :user="obj"></User>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import User from '@/components/explore/User'

export default {
  name: 'Explore',
  mounted () {
    this.$store.commit('Application/setTitle', 'Explore')
    document.title = `GiTa the Explorer`
  },
  components: { User },
  methods: {
    async doSearch (evt) {
      evt.preventDefault()
      await this.$store.dispatch('Explore/getExplore')
    }
  },
  computed: {
    explore () {
      return this.$store.getters['Explore/explore']
    },
    searchKey: {
      get () {
        return this.$store.getters['Explore/searchKey']
      },
      set (value) {
        this.$store.commit('Explore/setSearchKey', value)
      }
    }
  }
}
</script>
