<template>
  <div>

    <v-tabs
      centered
      grow
      dark
      icons-and-text
    >
      <v-tabs-slider color="red"></v-tabs-slider>

      <v-tab :to="{'name':'feedActivities'}">
        Activities
        <v-icon>schedule</v-icon>
      </v-tab>

      <v-tab :to="{'name':'feedAgendas'}">
        Agendas
        <v-icon>event_note</v-icon>
      </v-tab>

      <v-tab :to="{'name':'feedPosts'}">
        Posts
        <v-icon>public</v-icon>
      </v-tab>
    </v-tabs>

    <v-layout>
      <v-flex xs12 sm12 md8 lg8 :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''">
        <router-view></router-view>
      </v-flex>
      <v-flex md4 lg4 v-if="!$vuetify.breakpoint.smAndDown">
        <v-card dark color="secondary">
          <v-card-text class="px-0">
            recommendations
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'Feed',
  mounted () {
    this.$store.commit('Application/setTitle', 'Home')
    document.title = `GiTa`
  }
}
</script>
