<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout wrap align-center justify-space-around row fill-height>
      <v-flex xs12 sm12 md6 lg6>
        <Banner></Banner>
      </v-flex>
      <v-flex xs12 sm12 md6 lg6>
        <AuthBanner></AuthBanner>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Banner from '@/components/home/Banner'
import AuthBanner from '@/components/home/AuthBanner'

export default {
  name: 'home',
  components: {
    AuthBanner,
    Banner
  }
}
</script>
