<template>
  <div>
    <v-toolbar dark dense>
      <v-spacer></v-spacer>
      <v-btn icon :to="{name:'home'}">
        <v-icon>home</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-card>
      <v-card-text>
        <LoginForm></LoginForm>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import LoginForm from '@/components/authentication/forms/LoginForm'

export default {
  name: 'Login',
  components: { LoginForm }
}
</script>

<style scoped>

</style>
