<template>
  <v-layout>
    <v-flex :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''">
      <router-view></router-view>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'Message',
  mounted () {
    this.$store.commit('Application/setTitle', 'Messages')
    document.title = `GiTa`
  }
}
</script>
