<template>
  <v-layout>
    <v-flex :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''">
      <v-card dark>
        <v-list>
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="https://cdn.vuetifyjs.com/images/lists/4.jpg">
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>Hi</v-list-tile-title>
              <v-list-tile-sub-title>Herro</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>

        <v-list subheader two-line>
          <v-list-tile>
            <v-list-tile-avatar>
              <img src="https://cdn.vuetifyjs.com/images/lists/4.jpg">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title><strong>Dimas Ari</strong> @inchidi &dash; 2h</v-list-tile-title>
              <v-list-tile-sub-title>Allow notifications</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'Notification',
  mounted () {
    this.$store.commit('Application/setTitle', 'Notifications')
    document.title = `GiTa`
  }
}
</script>
