<template>
  <div>
    <v-tabs
      centered
      grow
      dark
      icons-and-text
    >
      <v-tabs-slider color="red"></v-tabs-slider>

      <v-tab :to="{'name':'postPersonalActivity'}">
        Activity
        <v-icon>schedule</v-icon>
      </v-tab>

      <v-tab :to="{'name':'postPersonalAgenda'}">
        Agenda
        <v-icon>event_note</v-icon>
      </v-tab>
      <v-tab :to="{'name':'postPersonalWall'}">
        Wall Post
        <v-icon>public</v-icon>
      </v-tab>
    </v-tabs>
    <v-card flat hover>
      <v-card-text>
        <router-view></router-view>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Post',
  mounted () {
    this.$store.commit('Application/setTitle', 'Post')
    document.title = `GiTa`
  }
}
</script>
