<template>
  <div>
    <v-img
      v-if="otherUser.profile.cover"
      :src="otherUser.profile.cover"
      height="150px"
    >
      <v-layout
        column
        fill-height
      >
        <v-card-title v-show="otherUser.can_request_send && !requestSent">
          <v-spacer></v-spacer>
          <v-btn dark @click="doAddFriend">
            add as friend
            <v-icon right dark>add</v-icon>
          </v-btn>
        </v-card-title>
        <v-spacer></v-spacer>
        <v-card-title>
          <v-avatar>
            <img v-if="otherUser.profile.avatar" :src="otherUser.profile.avatar" :alt="otherUser.username">
          </v-avatar>
          <strong class="title white--text pl-2">{{otherUser.full_name}}</strong>
        </v-card-title>
      </v-layout>
    </v-img>
    <v-toolbar dense dark flat v-if="otherUser.username">
      <v-btn icon :to="{name:'profileUserWall', params:{username:otherUser.username}}">
        <v-icon>forum</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon :to="{name:'profileUserAbout', params:{username:otherUser.username}}">
        <v-icon>info</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon :to="{name:'profileUserFriends', params:{username:otherUser.username}}">
        <v-icon>people</v-icon>
      </v-btn>
    </v-toolbar>
    <v-layout>
      <v-flex :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''">
        <router-view></router-view>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'ProfileUser',
  data: () => ({
    requestSent: false
  }),
  mounted () {
    document.title = `@${this.$route.params.username} | GiTa`
    this.$store.commit('ProfileUser/setUsername', this.$route.params.username)
    this.doGetProfile()
    let title = this.otherUser.full_name
    this.$store.commit('Application/setTitle', title)
    document.title = `${title} (@${this.$route.params.username}) | GiTa`
  },
  methods: {
    async doGetProfile () {
      await this.$store.dispatch('ProfileUser/getProfileByUsername')
    },
    async doAddFriend () {
      this.$store.commit('Relationship/setFriendUsername', this.otherUser.username)
      await this.$store.dispatch('Relationship/postAddFriend')
      this.requestSent = true
    }
  },
  computed: {
    otherUser () { return this.$store.getters['ProfileUser/otherUser'] }
  }
}
</script>
