<template>
  <div>
    <v-img
      v-if="user.profile.cover" :src="user.profile.cover"
      height="150px"
    >
      <v-layout
        column
        fill-height
      >
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn dark icon class="mr-3">
            <v-icon>edit</v-icon>
          </v-btn>
        </v-card-title>
        <v-spacer></v-spacer>
        <v-card-title>
          <v-avatar>
            <img v-if="user.profile.avatar" :src="user.profile.avatar" alt="User">
          </v-avatar>
          <strong class="title white--text pl-2">{{user.full_name}}</strong>
        </v-card-title>
      </v-layout>
    </v-img>
    <v-toolbar dense dark flat>
      <v-btn icon :to="{'name':'profilePersonalWall'}">
        <v-icon>forum</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon :to="{'name':'profilePersonalSchedule'}">
        <v-icon>event</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon :to="{'name':'profilePersonalAbout'}">
        <v-icon>info</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon :to="{'name':'profilePersonalFriends'}">
        <v-icon>people</v-icon>
      </v-btn>
    </v-toolbar>
    <v-layout>
      <v-flex :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''">
        <router-view></router-view>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  mounted () {
    let title = this.user.full_name
    this.$store.commit('Application/setTitle', title)
    document.title = `${title} (@${this.user.username}) | GiTa`
  },
  watch: {
    user (newValue) {
      let title = newValue.full_name
      this.$store.commit('Application/setTitle', title)
      document.title = `${title} (@${newValue.username}) | GiTa`
    }
  },
  computed: {
    user () { return this.$store.getters['Authentication/user'] }
  }
}
</script>
