<template>
  <div>
    <v-toolbar dark dense>
      <v-spacer></v-spacer>
      <v-btn icon :to="{name:'home'}">
        <v-icon>home</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
    </v-toolbar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'register'
}
</script>
