<template>
  <div>
    <v-tabs
      centered
      grow
      dark
      icons-and-text
    >
      <v-tabs-slider color="red"></v-tabs-slider>

      <v-tab :to="{'name':'relationshipFriendRequests'}">
        Friend Requests
        <v-icon>person_add</v-icon>
      </v-tab>

      <v-tab :to="{'name':'relationshipFriends'}">
        Friends
        <v-icon>accessibility_new</v-icon>
      </v-tab>
    </v-tabs>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Relationship',
  mounted () {
    this.$store.commit('Application/setTitle', 'Relationship')
    document.title = `GiTa`
  }
}
</script>
