<template>
  <v-container>
    <v-layout>
      <v-expansion-panel>
        <v-expansion-panel-content expand>
          <div slot="header">Login</div>
          <v-card>
            <v-card-text>
              <LoginForm></LoginForm>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
        <v-expansion-panel-content>
          <div slot="header">Register</div>
          <v-card>
            <v-card-text>
              <RegistrationForm></RegistrationForm>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>
  </v-container>
</template>

<script>
import LoginForm from '@/components/authentication/forms/LoginForm'
import RegistrationForm from '@/components/registration/forms/RegistrationForm'

export default {
  name: 'AuthBanner',
  components: { RegistrationForm, LoginForm }
}
</script>
