<template>
  <v-container grid-list-xl>
    <v-layout>
      <v-flex>
        <img alt="Gita logo" src="@/assets/images/logo.png">
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        GiTa Agenda Kita
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Banner'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
