<template>
  <v-form ref="form" @submit.prevent="onLogin" v-model="valid" lazy-validation>
    <v-text-field
      v-model="username"
      :rules="usernameRules"
      label="Username"
      required
    ></v-text-field>

    <v-text-field
      v-model="password"
      :append-icon="showPassword ? 'visibility_off' : 'visibility'"
      :type="showPassword ? 'text' : 'password'"
      label="Password"
      hint="At least 8 characters"
      @click:append="showPassword = !showPassword"
    ></v-text-field>
    <v-btn block :disabled="!valid" color="success" type="submit">
      Login
    </v-btn>
  </v-form>
</template>

<script>
export default {
  name: 'LoginForm',
  data: () => ({
    valid: false,
    usernameRules: [
      v => !!v || 'Username is required'
    ],
    showPassword: false
  }),
  methods: {
    async onLogin () {
      await this.$store.dispatch('Authentication/doLogin')
    }
  },
  computed: {
    loginInfo () {
      return this.$store.getters['Authentication/loginInfo']
    },
    username: {
      get () {
        return this.$store.getters['Authentication/username']
      },
      set (value) {
        this.$store.commit('Authentication/setUsername', value)
      }
    },
    password: {
      get () {
        return this.$store.getters['Authentication/password']
      },
      set (value) {
        this.$store.commit('Authentication/setPassword', value)
      }
    }
  }
}
</script>
