<template>
  <v-card dark>
    <v-list v-show="!friends.length" class="pa-0">
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-sub-title>This user does not have any friend yet.</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list subheader two-line
            v-for="(friend, index) in friends"
            :key="index"
    >
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-avatar>
          <img v-if="friend.from_user.profile.avatar" :src="friend.from_user.profile.avatar"
               :alt="friend.from_user.username">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title><strong>{{friend.from_user.full_name}}</strong> @{{friend.from_user.username}}
          </v-list-tile-title>
          <v-list-tile-sub-title>{{friend.from_user.about}}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'Friends',
  mounted () {
    this.doGetOtherFriends()
  },
  methods: {
    async doGetOtherFriends () {
      await this.$store.dispatch('Relationship/getOtherFriends')
    }
  },
  computed: {
    user () { return this.$store.getters['Authentication/user'] },
    friends () { return this.$store.getters['Relationship/friends'] }
  }
}
</script>
