<template>
  <v-card dark>
    <v-list v-show="!otherUser.are_friends" class="pa-0">
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-sub-title>This user is not your friend yet.</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list v-show="!walls.length && otherUser.are_friends" class="pa-0">
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-sub-title>This user does not have any wall post yet.</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list subheader two-line
            v-for="(wall, index) in walls"
            :key="index"
    >
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-avatar>
          <img v-if="wall.user.profile.avatar" :src="wall.user.profile.avatar" :alt="wall.user.username">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title><strong>{{wall.user.full_name}}</strong> @{{wall.user.username}} &dash;
            {{wall.updated_at_natural}}
          </v-list-tile-title>
          <v-list-tile-sub-title>{{wall.body}}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'Wall',
  mounted () {
    this.walls = []
  },
  methods: {
    async doGetWall () {
      this.$store.commit('Wall/setUserID', this.otherUser.id)
      await this.$store.dispatch('Wall/getUserWall')
    }
  },
  watch: {
    otherUser (newValue) {
      if (newValue.id && newValue.are_friends) this.doGetWall()
    }
  },
  computed: {
    otherUser () { return this.$store.getters['ProfileUser/otherUser'] },
    user () { return this.$store.getters['Authentication/user'] },
    walls: {
      get () {
        return this.$store.getters['Wall/walls']
      },
      set (value) {
        this.$store.commit('Wall/setWalls', value)
      }
    }
  }
}
</script>
