<template>
  <button @click="onResendButtonClicked">
    Resend Token
  </button>
</template>

<script>
export default {
  name: 'ResendTokenButton',
  methods: {
    async onResendButtonClicked () {
      await this.$store.dispatch('Registration/doResendToken')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
