<template>
  <v-card dark class="white--text">
    <v-layout>
      <v-flex xs5 md3 lg2>
        <v-avatar size="125" class="mx-3">
          <img v-if="user.profile.avatar" contain :src="user.profile.avatar" alt="User">
        </v-avatar>
      </v-flex>
      <v-flex>
        <v-card-title primary-title>
          <div>
            <router-link class="headline white--text" :to="{name:'profileUserWall', params:{ username:user.username}}">
              {{user.username}}
            </router-link>
            <div>{{user.full_name}}</div>
            <div>{{user.about}}</div>
          </div>
        </v-card-title>
      </v-flex>
    </v-layout>
    <v-divider light></v-divider>
    <v-card-actions v-show="!isAdded && user.can_request_send">
      <v-spacer></v-spacer>
      <v-btn color="red" @click="doAddFriend">
        Add as Friend
        <v-icon right dark>add</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'User',
  data: () => ({
    isAdded: false
  }),
  props: {
    user: Object
  },
  methods: {
    async doAddFriend () {
      this.$store.commit('Relationship/setFriendUsername', this.user.username)
      await this.$store.dispatch('Relationship/postAddFriend')
      this.isAdded = true
    }
  }
}
</script>
