<template>
  <v-form>
    <v-text-field
      dark
      prepend-icon="search"
      required
      placeholder="Search GiTa"
    ></v-text-field>
  </v-form>
</template>

<script>
export default {
  name: 'SearchForm'
}
</script>
