<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-card dark>
    <v-card-actions v-if="index!==0">
      <v-spacer></v-spacer>
      <v-btn icon @click="removeActivity">
        <v-icon>close</v-icon>
      </v-btn>
    </v-card-actions>
    <v-card-text>
      <v-text-field label="Activity Name" required v-model="activityName"></v-text-field>
      <v-textarea label="Activity Description" v-model="description"></v-textarea>
      <v-layout>
        <v-flex md8>
          <v-text-field label="Activity Duration" type="number"
                        v-model="activityDuration" @change="durationToSeconds"></v-text-field>
        </v-flex>
        <v-flex md4>
          <v-select :items="durationTypes" item-text="label" item-value="value"
                    v-model="activityDurationType" @change="durationToSeconds"></v-select>
        </v-flex>
      </v-layout>
      <v-autocomplete
        v-model="hosts"
        :items="filteredFriends"
        box
        persistent-hint
        small-chips
        :search-input.sync="searchActivityHosts"
        hide-selected
        hint="Hosts of this activity"
        label="Activity Hosts"
        no-filter
        multiple
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            class="chip--select-multi"
            @input="removeHost(data.item)"
          >
            <v-avatar>
              <img :src="data.item.from_user.profile.avatar" :alt="data.item.from_user.username">
            </v-avatar>
            @{{data.item.from_user.username}}
          </v-chip>
        </template>
        <template v-slot:item="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-avatar>
              <img :src="data.item.from_user.profile.avatar" :alt="data.item.from_user.username">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>@{{data.item.from_user.username}}</v-list-tile-title>
              <v-list-tile-sub-title>@{{data.item.from_user.full_name}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </template>
        </template>
        <template slot="no-data" v-if="searchActivityHosts">
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>
                No more friend matching "<strong>{{ searchActivityHosts }}</strong>".
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-autocomplete>

      <v-autocomplete
        v-model="members"
        :items="filteredFriends"
        box
        persistent-hint
        small-chips
        :search-input.sync="searchActivityMembers"
        hide-selected
        hint="Members of this activity"
        label="Activity Members"
        no-filter
        multiple
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            class="chip--select-multi"
            @input="removeHost(data.item)"
          >
            <v-avatar>
              <img :src="data.item.from_user.profile.avatar" :alt="data.item.from_user.username">
            </v-avatar>
            @{{data.item.from_user.username}}
          </v-chip>
        </template>
        <template v-slot:item="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-avatar>
              <img :src="data.item.from_user.profile.avatar" :alt="data.item.from_user.username">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>@{{data.item.from_user.username}}</v-list-tile-title>
              <v-list-tile-sub-title>@{{data.item.from_user.full_name}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </template>
        </template>
        <template slot="no-data">
          <v-list-tile v-if="searchActivityMembers">
            <v-list-tile-content>
              <v-list-tile-title>
                No more friend matching "<strong>{{ searchActivityMembers }}</strong>".
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-autocomplete>
      <v-combobox
        v-model="location"
        :items="filteredLocations"
        item-text="location_name"
        item-value="id"
        :search-input.sync="searchActivityLocations"
        hint="Leave empty to let algorithm decide between candidate locations"
        label="Activity Location"
        persistent-hint
      >
        <template v-slot:item="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-avatar>
              <img :src="data.item.profile_picture" :alt="data.item.username">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>@{{data.item.username}}</v-list-tile-title>
              <v-list-tile-sub-title>{{data.item.location_name}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </template>
        </template>
        <template slot="no-data">
          <v-list-tile v-if="searchActivityLocations">
            <v-list-tile-content>
              <v-list-tile-title>
                No results matching "<strong>{{ searchActivityLocations }}</strong>".
                Press <kbd>enter</kbd> to create a new one
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-combobox>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'PersonalAgendaActivity',
  props: {
    index: {
      type: Number,
      default: 1
    }
  },
  data: () => ({
    activityDuration: 1,
    activityDurationType: 1,
    durationTypes: [
      { value: 2, label: 'Minutes' },
      { value: 3, label: 'Hours' },
      { value: 4, label: 'Days' },
      { value: 5, label: 'Weeks' },
      { value: 6, label: 'Months' },
      { value: 7, label: 'Years' }
    ],
    searchActivityLocations: '',
    searchActivityHosts: '',
    searchActivityMembers: ''
  }),
  watch: {
    searchActivityLocations (val) {
      this.locationsSearch = val
      if (val) this.doGetLocations()
    },
    searchActivityHosts (val) {
      this.friendsSearch = val
      if (val) this.doGetFriends()
    },
    searchActivityMembers (val) {
      this.friendsSearch = val
      if (val) this.doGetFriends()
    }
  },
  methods: {
    async doGetLocations () {
      this.$store.commit('Location/resetLocations')
      await this.$store.dispatch('Location/getLocations')
    },
    async doGetFriends () {
      this.$store.commit('Relationship/resetFriends')
      await this.$store.dispatch('Relationship/getFriends')
    },
    removeActivity () {
      this.$store.commit('Agenda/removeActivity', this.index)
    },
    removeHost (item) {
      let index = this.hosts.indexOf(item.id)
      if (index >= 0) this.hosts.splice(index, 1)
    },
    removeMember (item) {
      let index = this.members.indexOf(item.id)
      if (index >= 0) this.members.splice(index, 1)
    },
    durationToSeconds (index) {
      if (this.activityDurationType === 2) this.duration = this.activityDuration * 60
      if (this.activityDurationType === 3) this.duration = this.activityDuration * 3600
      if (this.activityDurationType === 4) this.duration = this.activityDuration * 86400
      if (this.activityDurationType === 5) this.duration = this.activityDuration * 604800
      if (this.activityDurationType === 6) this.duration = this.activityDuration * 18144000
      if (this.activityDurationType === 7) this.duration = this.activityDuration * 220752000
    }
  },
  computed: {
    filteredLocations () {
      return this.$store.getters['Location/locations']
    },
    filteredFriends () {
      return this.$store.getters['Relationship/friends']
    },
    locationsSearch: {
      get () {
        return this.$store.getters['Location/locationsSearch']
      },
      set (value) {
        this.$store.commit('Location/setLocationsSearch', value)
      }
    },
    friendsSearch: {
      get () {
        return this.$store.getters['Relationship/friendsSearch']
      },
      set (value) {
        this.$store.commit('Relationship/setFriendsSearch', value)
      }
    },
    activityName: {
      get () {
        return this.$store.getters['Agenda/activityName'](this.index)
      },
      set (value) {
        this.$store.commit('Agenda/setActivityName', { index: this.index, value: value })
      }
    },
    description: {
      get () {
        return this.$store.getters['Agenda/activityDescription'](this.index)
      },
      set (value) {
        this.$store.commit('Agenda/setActivityDescription', { index: this.index, value: value })
      }
    },
    duration: {
      get () {
        return this.$store.getters['Agenda/activityDuration'](this.index)
      },
      set (value) {
        this.$store.commit('Agenda/setActivityDuration', { index: this.index, value: value })
      }
    },
    location: {
      get () {
        return this.$store.getters['Agenda/activityLocation'](this.index)
      },
      set (value) {
        this.$store.commit('Agenda/setActivityLocation', { index: this.index, value: value })
      }
    },
    hosts: {
      get () {
        return this.$store.getters['Agenda/activityHosts'](this.index)
      },
      set (value) {
        this.$store.commit('Agenda/setActivityHosts', { index: this.index, value: value })
      }
    },
    members: {
      get () {
        return this.$store.getters['Agenda/activityMembers'](this.index)
      },
      set (value) {
        this.$store.commit('Agenda/setActivityMembers', { index: this.index, value: value })
      }
    }
  }
}
</script>
