<template>
  <v-form ref="form" @submit.prevent="onSubmit" v-model="isValid">
    <v-text-field label="Activity Name" required v-model="activityActivityName"></v-text-field>
    <v-textarea label="Activity Description"></v-textarea>
    <DateTimePicker label="Start Time" v-model="activityTimeStart" required></DateTimePicker>
    <DateTimePicker label="Until Time" v-model="activityTimeUntil" required></DateTimePicker>
    <v-btn type="submit" block color="red" :disabled="!isValid" dark>Create New Activity</v-btn>
  </v-form>
</template>

<script>
import moment from 'moment'
import DateTimePicker from '@/components/application/pickers/DateTimePicker'

export default {
  name: 'PersonalActivity',
  components: { DateTimePicker },
  data: () => ({
    activityTimeUntil: null,
    isValid: false
  }),
  methods: {
    async onSubmit () {
      await this.$store.dispatch('Activity/createPersonalActivity')
    }
  },
  watch: {
    activityTimeUntil (newValue) {
      let activityTimeUntilDate = moment(newValue).toDate()
      if (this.activityTimeStart instanceof Date && activityTimeUntilDate.getTime() <= this.activityTimeStart.getTime()) {
        this.isValid = false
        this.activityDuration = null
      } else {
        this.isValid = true
        this.activityDuration = Math.floor((activityTimeUntilDate.getTime() - this.activityTimeStart.getTime()) / 1000)
      }
    }
  },
  computed: {
    activityActivityName: {
      get () {
        return this.$store.getters['Activity/activityActivityName']
      },
      set (value) {
        this.$store.commit('Activity/setActivityActivityName', value)
      }
    },
    activityDescription: {
      get () {
        return this.$store.getters['Activity/activityDescription']
      },
      set (value) {
        this.$store.commit('Activity/setActivityDescription', value)
      }
    },
    activityTimeStart: {
      get () {
        return this.$store.getters['Activity/activityTimeStart']
      },
      set (value) {
        this.$store.commit('Activity/setActivityTimeStart', value)
      }
    },
    activityDuration: {
      get () {
        return this.$store.getters['Activity/activityDuration']
      },
      set (value) {
        this.$store.commit('Activity/setActivityDuration', value)
      }
    }
  }
}
</script>
