<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-form ref="form" @submit.prevent="onSubmit" v-model="isValid">
    <v-text-field label="Agenda Name" required v-model="agendaName"></v-text-field>
    <v-textarea label="Agenda Description" v-model="description"></v-textarea>
    <DateTimePicker label="Range Time Start" required v-model="rangeTimeStart"></DateTimePicker>
    <DateTimePicker label="Range Time Until" required v-model="rangeTimeUntil"></DateTimePicker>
    <v-checkbox label="Loop" v-model="isLoop"></v-checkbox>
    <v-layout v-show="isLoop">
      <v-flex md4>
        <v-chip label>Every</v-chip>
      </v-flex>
      <v-flex md4>
        <v-text-field type="number" v-model="loopInterlude"></v-text-field>
      </v-flex>
      <v-flex md4>
        <v-select :items="durationTypes" item-text="label" item-value="value" v-model="loop"></v-select>
      </v-flex>
    </v-layout>
    <v-autocomplete
      v-model="locations"
      :items="filteredLocations"
      box
      persistent-hint
      small-chips
      :search-input.sync="searchAgendaLocations"
      hide-selected
      hint="Location candidate for all activities"
      label="Candidate Locations"
      item-text="location_name"
      item-value="id"
      multiple
    >
      <template v-slot:selection="data">
        <v-chip
          :selected="data.selected"
          close
          class="chip--select-multi"
          @input="removeLocation(data.item)"
        >
          <v-avatar>
            <img :src="data.item.profile_picture">
          </v-avatar>
          {{ data.item.location_name }}
        </v-chip>
      </template>
      <template v-slot:item="data">
        <template v-if="typeof data.item !== 'object'">
          <v-list-tile-content v-text="data.item"></v-list-tile-content>
        </template>
        <template v-else>
          <v-list-tile-avatar>
            <img :src="data.item.profile_picture">
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>@{{data.item.username}}</v-list-tile-title>
            <v-list-tile-sub-title>{{data.item.location_name}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      </template>
      <template slot="no-data">
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              No results matching "<strong>{{ searchAgendaLocations }}</strong>". Press <kbd>enter</kbd> to create a new
              one
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-autocomplete>
    <v-list>
      <v-subheader>Activities</v-subheader>
      <div class="pb-3" v-for="(activity, index) in activities" :key="index">
        <personal-agenda-activity :index="index"></personal-agenda-activity>
      </div>
      <v-btn @click.prevent="addActivity" round block>
        <v-icon dark>add</v-icon>
        Add more activity
      </v-btn>
    </v-list>
    <v-btn type="submit" block color="red" dark>Create New Agenda</v-btn>
  </v-form>
</template>

<script>
import DateTimePicker from '@/components/application/pickers/DateTimePicker'
import PersonalAgendaActivity from '@/components/post/forms/PersonalAgendaActivity'

export default {
  name: 'PersonalAgenda',
  components: { PersonalAgendaActivity, DateTimePicker },
  data: () => ({
    isValid: false,
    isLoop: false,
    durationTypes: [
      { value: 2, label: 'Minutes' },
      { value: 3, label: 'Hours' },
      { value: 4, label: 'Days' },
      { value: 5, label: 'Weeks' },
      { value: 6, label: 'Months' },
      { value: 7, label: 'Years' }
    ],
    searchAgendaLocations: ''
  }),
  watch: {
    searchAgendaLocations (val) {
      this.locationsSearch = val
      if (val) this.doGetLocations()
    },
    isLoop (val) {
      this.loop = val ? this.loop : 0
    }
  },
  methods: {
    async onSubmit () {
      await this.$store.dispatch('Agenda/createPersonalAgenda')
    },
    async doGetLocations () {
      this.$store.commit('Location/resetLocations')
      await this.$store.dispatch('Location/getLocations')
    },
    removeLocation (item) {
      let index = this.locations.indexOf(item.id)
      if (index >= 0) this.locations.splice(index, 1)
    },
    addActivity () {
      this.$store.commit('Agenda/addActivity')
    }
  },
  computed: {
    filteredLocations () {
      return this.$store.getters['Location/locations']
    },
    locationsSearch: {
      get () {
        return this.$store.getters['Location/locationsSearch']
      },
      set (value) {
        this.$store.commit('Location/setLocationsSearch', value)
      }
    },
    agendaName: {
      get () {
        return this.$store.getters['Agenda/agendaName']
      },
      set (value) {
        this.$store.commit('Agenda/setAgendaName', value)
      }
    },
    description: {
      get () {
        return this.$store.getters['Agenda/description']
      },
      set (value) {
        this.$store.commit('Agenda/setDescription', value)
      }
    },
    loop: {
      get () {
        return this.$store.getters['Agenda/loop']
      },
      set (value) {
        this.$store.commit('Agenda/setLoop', value)
      }
    },
    loopInterlude: {
      get () {
        return this.$store.getters['Agenda/loopInterlude']
      },
      set (value) {
        this.$store.commit('Agenda/setLoopInterlude', value)
      }
    },
    rangeTimeStart: {
      get () {
        return this.$store.getters['Agenda/rangeTimeStart']
      },
      set (value) {
        this.$store.commit('Agenda/setRangeTimeStart', value)
      }
    },
    rangeTimeUntil: {
      get () {
        return this.$store.getters['Agenda/rangeTimeUntil']
      },
      set (value) {
        this.$store.commit('Agenda/setRangeTimeUntil', value)
      }
    },
    activities: {
      get () {
        return this.$store.getters['Agenda/activities']
      },
      set (value) {
        this.$store.commit('Agenda/setActivities', value)
      }
    },
    locations: {
      get () {
        return this.$store.getters['Agenda/locations']
      },
      set (value) {
        this.$store.commit('Agenda/setLocations', value)
      }
    }
  }
}
</script>
