<template>
  <v-form @submit="submitPostWall">
    <v-textarea
      placeholder="What's happening?"
      v-model="body"
      required
    ></v-textarea>
    <v-btn type="submit" block color="red" dark>Post to your wall</v-btn>
  </v-form>
</template>

<script>
export default {
  name: 'PersonalWall',
  methods: {
    async submitPostWall (evt) {
      evt.preventDefault()
      await this.$store.dispatch('Wall/postWall')
    }
  },
  computed: {
    body: {
      get () {
        return this.$store.getters['Wall/body']
      },
      set (value) {
        this.$store.commit('Wall/setBody', value)
      }
    }
  }
}
</script>

<style scoped>

</style>
