<template>
  <div id="app">
    <component v-bind:is="layout"></component>
  </div>
</template>

<script>
import AppLayout from '@/layouts/AppLayout'
import AuthLayout from '@/layouts/AuthLayout'

export default {
  components: {
    'app-layout': AppLayout,
    'auth-layout': AuthLayout
  },
  data: () => ({
    layout: 'auth-layout'
  }),
  name: 'app',
  async mounted () {
    await this.$store.dispatch('Authentication/checkIsLogged')
  },
  watch: {
    isLogged (newValue) {
      this.layout = newValue ? 'app-layout' : 'auth-layout'
    }
  },
  computed: {
    isLogged () {
      return this.$store.getters['Authentication/isLogged']
    }
  }
}
</script>
