<template>
  <v-app>
    <NavigationDrawer></NavigationDrawer>
    <ApplicationHeader></ApplicationHeader>
    <v-progress-linear v-show="isLoading" height="3" color="red" :indeterminate="true" class="ma-0"></v-progress-linear>
    <v-content>
      <v-container grid-list-md :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''">
        <router-view></router-view>
        <v-btn
          v-show="$route.path.startsWith('/feed') || $route.path.startsWith('/profile')"
          fixed
          dark
          bottom
          right
          color="red"
          :fab="$vuetify.breakpoint.smAndDown"
          :round="!$vuetify.breakpoint.smAndDown"
          :to="{name:'post'}"
        >
          <v-icon>add_to_queue</v-icon>
        </v-btn>
      </v-container>
      <v-snackbar v-model="snackbar" right top :timeout="6000">
        {{ snackbarText }}
        <v-btn color="pink" flat @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-content>
  </v-app>
</template>

<script>
import ApplicationHeader from '@/components/application/ApplicationHeader'
import NavigationDrawer from '@/components/application/NavigationDrawer'

export default {
  name: 'app-layout',
  components: { NavigationDrawer, ApplicationHeader },
  mounted () {
    document.title = 'GiTa'
  },
  computed: {
    isLoading () {
      return this.$store.getters['Application/isLoading']
    },
    snackbar: {
      get () {
        return this.$store.getters['Application/snackbar']
      },
      set (value) {
        this.$store.commit('Application/setSnackbar', value)
      }
    },
    snackbarText () {
      return this.$store.getters['Application/snackbarText']
    }
  }
}
</script>
