<template>
  <v-app>
    <router-view/>
    <v-footer dark height="auto" absolute>
      <v-layout justify-center row wrap dark>
        <v-card class="flex" flat tile>
          <v-card-actions class="grey darken-3 justify-center">
            <strong>GiTa</strong>&nbsp;&copy;&nbsp;{{ new Date().getFullYear() }}
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'auth-layout',
  mounted () {
    document.title = 'GiTa. Agenda kita.'
  }
}
</script>
