<template>
  <v-card dark>
    <v-list v-show="!friendRequests.length" class="pa-0">
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-sub-title>You dont have any friend request yet.</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list subheader two-line
            v-for="(friendRequest, index) in friendRequests"
            :key="index"
    >
      <v-divider></v-divider>
      <v-list-tile
        :to="{name:'profileUser', params:{username:friendRequest.from_user.username}}">
        <v-list-tile-avatar>
          <img v-if="friendRequest.from_user.profile.avatar" :src="friendRequest.from_user.profile.avatar"
               :alt="friendRequest.from_user.username">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title><strong>{{friendRequest.from_user.full_name}}</strong>
            @{{friendRequest.from_user.username}}
          </v-list-tile-title>
          <v-list-tile-sub-title>{{friendRequest.from_user.about}}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'FriendRequests',
  mounted () {
    this.doGetFriendRequests()
  },
  methods: {
    async doGetFriendRequests () {
      await this.$store.dispatch('Relationship/getFriendRequests')
    }
  },
  computed: {
    user () { return this.$store.getters['Authentication/user'] },
    friendRequests () { return this.$store.getters['Relationship/friendRequests'] }
  }
}
</script>
