<template>
  <v-card dark>
    <v-list subheader two-line>
      <v-list-tile :to="{'name': 'messageFromUser', params:{'username':'dimasinchidi'}}">
        <v-list-tile-avatar>
          <img src="https://cdn.vuetifyjs.com/images/lists/4.jpg">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title><strong>Dimas Ari</strong> @inchidi &dash; 2h</v-list-tile-title>
          <v-list-tile-sub-title>Allow notifications</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'List'
}
</script>

<style scoped>

</style>
