<template>
  <v-card>
    <v-card-text>
      <RegistrationForm></RegistrationForm>
    </v-card-text>
  </v-card>
</template>

<script>
import RegistrationForm from '@/components/registration/forms/RegistrationForm'

export default {
  name: 'RegisterUser',
  components: { RegistrationForm }
}
</script>

<style scoped>

</style>
