<template>
  <v-card>
    <v-card-text>
      <VerifyPhoneForm></VerifyPhoneForm>
      <ResendTokenButton></ResendTokenButton>
      {{resendTokenInfo}}
    </v-card-text>
  </v-card>
</template>

<script>
import VerifyPhoneForm from '@/components/registration/forms/VerifyPhoneForm'
import ResendTokenButton from '@/components/authentication/buttons/ResendTokenButton'

export default {
  name: 'VerifyPhone',
  components: { ResendTokenButton, VerifyPhoneForm },
  computed: {
    resendTokenInfo () {
      return this.$store.getters['Registration/resendTokenInfo']
    },
    phone () {
      return this.$store.getters['Registration/phone']
    }
  }
}
</script>
